# Скомпилированные бинарники
/server
*.exe

# Файлы окружения с секретами
.env

# Логи
*.log

# Папки IDE
.idea/
.vscode/

# Системные файлы macOS
.DS_Store

# Папки с зависимостями (если используется `go mod vendor`)
/vendor/